name: Buf lint

on:
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v4
      - name: Download buf
        uses: dsaltares/fetch-gh-release-asset@1.1.2
        with:
          repo: 'bufbuild/buf'
          version: 'tags/v1.48.0'
          file: 'buf-Linux-x86_64'
          target: 'buf-Linux-x86_64'
      - run: chmod 755 ./buf-Linux-x86_64
      - run: ./buf-Linux-x86_64 lint

  breaking:
    runs-on: ubuntu-slim
    steps:
      - name: Download buf
        uses: dsaltares/fetch-gh-release-asset@1.1.2
        with:
          repo: 'bufbuild/buf'
          version: 'tags/v1.48.0'
          file: 'buf-Linux-x86_64'
          target: 'buf-Linux-x86_64'
      - run: chmod 755 ./buf-Linux-x86_64
      - name: Check out ref code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.base_ref }}
          path: baseref
      - run: cd baseref && ../buf-Linux-x86_64 build -o image.bin

      - name: Check out code
        uses: actions/checkout@v4
        with:
          path: prclone
      - run: cd prclone && ../buf-Linux-x86_64 breaking --against ../baseref/image.bin
